<footer class="footer">
  <div class="container">
    <!-- Services Section -->
    <!-- <div class="row">
      <div class="col-md-3">
        <h5>Services</h5>
        <ul>
          <li><a href="#">Event Planning</a></li>
          <li><a href="#">Vendor Management</a></li>
          <li><a href="#">Guest Management</a></li>
          <li><a href="#">Catering Services</a></li>
        </ul>
      </div>
    </div> -->

    <!-- Footer Bottom -->
    <div class="row">
      <div class="col-12 text-center mt-4">
        <p>&copy; 2024 EventOrganizer. All Rights Reserved.</p>
        <p>Designed and Developed by EventOrganizer Team </p>
      </div>
    </div>
  </div>
</footer>
