.card-header {
  font-weight: bold;
  font-size: 1.2rem;
}

.card-body {
  font-size: 1rem;
  background-color: #ffffff; /* Ensure plain background for card body */
}

.card-body p,
.card-body ul {
  color: #495057; /* Regular text color */
}

.table th {
  background-color: #f8f9fa;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f2f2f2;
}

.badge {
  font-size: 0.9rem;
  margin-left: 5px;
}

.badge-warning {
  background-color: #ffc107;
}

.badge-success {
  background-color: #28a745;
}

.badge-danger {
  background-color: #dc3545;
}

.badge-primary {
  background-color: #007bff;
}

.badge-info {
  background-color: #17a2b8;
}

.badge-secondary {
  background-color: #6c757d;
}
